@font-face {
	font-family: Onest;
	src: url(./fonts/onest/Onest-Regular.woff2);
	font-display: swap;
}

@font-face {
	font-family: Buyan;
	src: url(./fonts/buyan/BuyanBold.woff2);
	font-display: swap;
}

@font-face {
	font-family: Helvetica;
	src: url(./fonts/helvetica/HelveticaNeueRoman.woff2);
	font-display: swap;
}

@font-face {
	font-family: Bison;
	src: url(./fonts/bison/Bison-Bold.woff2);
	font-display: swap;
}
.modal{position:fixed;inset:0;background:rgb(0 0 0 / 0.5);display:flex;align-items:center;justify-content:center;z-index:9999;opacity:0;visibility:hidden;transition:opacity 0.3s ease, visibility 0.3s ease}.modal.active{opacity:1;visibility:visible}.modal__content{background:#fff;width:90%;max-width:499px;padding:30px 20px;border-radius:15px;position:relative;font-family:'Onest' , sans-serif}.modal__close{position:absolute;top:10px;right:15px;font-size:30px;background:none;border:none;cursor:pointer;color:#333}.modal__title{font-size:20px;text-align:center;font-weight:700;margin-bottom:25px;line-height:1.2;color:#000}.input__group{margin-bottom:20px}.input__group label{display:block;font-size:14px;margin-bottom:8px;font-weight:500}.input__group input{width:100%;padding:14px 15px;border:1px solid #e5e7eb;background:#f9fafb;border-radius:10px;font-size:16px;outline:none}.phone__wrapper{display:flex;align-items:center;background:#f9fafb;border:1px solid #e5e7eb;border-radius:10px;padding:0 10px}.country__code{display:flex;align-items:center;gap:5px;padding-right:10px;border-right:1px solid #d1d5db}.prefix{padding-left:10px;font-weight:500}.phone__wrapper input{border:none;background-color:#fff0;padding:14px 8px}.modal__submit{width:100%;padding:18px;background:#ef1c1c;color:#fff;border:none;border-radius:12px;font-size:22px;font-weight:700;text-transform:uppercase;cursor:pointer;box-shadow:0 4px 0 #ca1211;transition:transform 0.1s ease, box-shadow 0.1s ease}.modal__submit:active{transform:translateY(2px);box-shadow:0 2px 0 #ca1211}